@page "/login"
@using WebSite.Components.Managers
@using Models
@inject NavigationManager NavigationManager
@inject IData Data
@inject ISessionService ServiceManager

<h3>Login</h3>

@if (!isAuthenticated) {
    <form>
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" id="email" class="form-control" @bind="user.UserName" />
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" class="form-control" @bind="user.Password" />
        </div>
        @if (!isAuthenticated && !string.IsNullOrEmpty(errorMessage)) {
            <div class="alert alert-danger" role="alert">
                @errorMessage
            </div>
        }
        <button type="button" class="btn btn-primary" @onclick="Submit">Login</button>
    </form>
}

@code {
    private bool isAuthenticated { get; set; } = false;
    private string errorMessage { get; set; }
    private User user { get; set; }

    [Inject]
    ISessionService SessionManager { get; set; }

    protected override async Task OnInitializedAsync() {
        user = new User {
            Area = new Area(),
            Country = new Country(),
            Password = "",
            Id = 0,
            Role = new RoleModel(),
            UserName = ""
        };    
        if (isAuthenticated) {
            // Redirect to another page if the user is already authenticated
            NavigationManager.NavigateTo("/dashboard");
        }

        base.OnInitialized();
    }

    private async Task Submit() {
        user = Data.GetUser(user.UserName, user.Password);
        if (user == null) {            
            user = new User {
                    Area = new Area(),
                    Country = new Country(),
                    Password = "",
                    Id = 0,
                    Role = new RoleModel(),
                    UserName = ""
                };
            return; // Implement error handling
        }
        QuestionGroup questionGroup = Data.GetQuestionGroup(user.Area.Id, user.Country.Id);
        SessionManager.MarkUserAsAuthenticated(user, questionGroup);
        if (SessionManager.GetAuthenticationState()) {
            NavigationManager.NavigateTo("/dashboard");
        }
    }

}
