@page "/login"
@using Models
@using global::WebSite.Components.Managers
@inject NavigationManager NavigationManager
@inject IData Data
@inject ISessionService ServiceManager

<h3>Login</h3>

@if (!isAuthenticated) {
    <form>
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" id="email" class="form-control" @bind="user.User.UserName" />
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" class="form-control" @bind="user.User.Password" />
        </div>
        @if (!isAuthenticated && !string.IsNullOrEmpty(errorMessage)) {
            <div class="alert alert-danger" role="alert">
                @errorMessage
            </div>
        }
        <button type="button" class="btn btn-primary" @onclick="Submit">Login</button>
    </form>
}

@code {
    private bool isAuthenticated { get; set; } = false;
    private string errorMessage { get; set; }
    private TokenUser user { get; set; }

    [Inject]
    ISessionService SessionManager { get; set; }

    protected override async Task OnInitializedAsync() {
        user = new TokenUser { User = new User {
                    Area = new Area(),
                    Country = new Country(),
                    Password = "",
                    Id = 0,
                    Role = new RoleModel(),
                    UserName = ""
        }            
        };    
        if (isAuthenticated) {
            // Redirect to dashboard page if the user is already authenticated
            NavigationManager.NavigateTo("/dashboard");
        }
        base.OnInitialized();
    }

    private async Task Submit() {
        user = await Data.GetUser(user.User.UserName, user.User.Password);
        if (user == null) {            
            user = new TokenUser { User = new User {
                        Area = new Area(),
                        Country = new Country(),
                        Password = "",
                        Id = 0,
                        Role = new RoleModel(),
                        UserName = ""
            }                    
            };
            errorMessage = "Invalid Login";
            return; // Implement error handling
        }
        QuestionGroup questionGroup = await Data.GetQuestionGroup(user.User.Area.Id, user.User.Country.Id, user.Token);
        SessionManager.MarkUserAsAuthenticated(user.User, questionGroup, user.Token);
        if (SessionManager.GetAuthenticationState()) {
            NavigationManager.NavigateTo("/dashboard");
        }
    }
}
