@page "/HSEQuestionPage/"

@using Models
@using Components.Managers
@inject IData Data
@inject ISessionService SessionManager

@if (isHSE) {
    <h3>Question List</h3>

    @if (questions != null && questions.Any()) {
        <table class="table">
            <thead>
                <tr>
                    <th>Active</th>
                    <th>Question</th>
                    <th>Options</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var question in allQuestions) {
                    <tr>
                        <td>
                            @if (questions.Find(q => q.Id == question.Id) != null) {
                                <button class="btn btn-danger" @onclick="() => RemoveQuestion(question.Id)">Remove</button>
                            } else {
                                <button class="btn btn-primary" @onclick="() => AddQuestion(question)">Add</button>
                            }
                        </td>
                        <td>@question.PossibleQuestion</td>
                        <td>@(question.Options.Count > 0 ? "Predefined" : "Free Text")</td>
                    </tr>
                }
            </tbody>
        </table>
    } else {
        <p>No questions available.</p>
    }
} else {
    <p>Not authorized</p>
}

@code {
    private List<Question> questions = new List<Question>();
    private List<Question> allQuestions = new List<Question>();
    private bool isHSE;
    private string token;

    protected override async Task OnInitializedAsync() {
        token = SessionManager.GetToken();
        User user = SessionManager.GetUser();
        questions = SessionManager.GetQuestionGroup().Questions;
        allQuestions = await Data.GetQuestions(token);
        isHSE = SessionManager.IsHSEAdmin();

        if (questions == null) {
            questions = new List<Question>();
        }
        if (allQuestions == null) {
            allQuestions = new List<Question>();
        }
    }

    void AddQuestion(Question question) {
        questions.Add(question);
        QuestionGroup qg = SessionManager.GetQuestionGroup();
        qg.Questions = questions;
        SessionManager.ChangeGroup(qg);
        Data.UpdateQuestionGroup(qg, token);
    }

    void RemoveQuestion(int questionId) {
        Question toDelete = questions.FirstOrDefault(q => q.Id == questionId);
        questions.Remove(toDelete);
        QuestionGroup qg = SessionManager.GetQuestionGroup();
        qg.Questions = questions;
        SessionManager.ChangeGroup(qg);
        Data.UpdateQuestionGroup(qg, token);
    }
}

