@page "/useradministration"

@using Models
@using Components.Managers

@inject MockData MockData
@inject ISessionService SerssionManager
@inject NavigationManager NavigationManager

<h3>User Administration</h3>

<button class="btn btn-success" @onclick="CreateUser">Create new user</button>

@if (users != null && users.Count > 0) {
    <table class="table">
        <thead>
            <tr>
                <th>Username</th>
                <th>Role</th>
                <th>Area</th>
                <th>Country</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in users) {
                <tr>
                    <td>@user.UserName</td>
                    <td>@user.Role</td>
                    <td>@user.Area.PossibleArea</td>
                    <td>@user.Country.PossibleCountry</td>
                    <td>
                        <button class="btn btn-danger" @onclick="() => DeleteUser(user)">Delete</button>
                        <button class="btn btn-primary" @onclick="() => EditUser(user)">Edit</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    List<User> users;

    protected override void OnInitialized() {
        users = MockData.GetUsers();
    }

    void DeleteUser(User user) {
        MockData.DeleteUser(user.Id);
    }

    void EditUser(User user) {
        NavigationManager.NavigateTo($"/edituser/{user.Id.ToString()}");
    }

    void CreateUser() {
        NavigationManager.NavigateTo("/createuser");
    }
}
